* {
    border: none;
    font-family: "JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif";
    font-size: 14px;
    min-height: 25px;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

/*
window#waybar.empty {
    background: transparent;
    background-color: transparent;
    color: transparent;
    margin-top: 2px;
    border-radius: 0px 0px 0px 0px;
}
*/

.modules-center {
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: #000000;
}

.modules-left {
  padding: 0 15px 0 5px;
  border-radius: 0px 15px 15px 0px;
  margin-top: 2px;
  background: #000000;
}

.modules-right {
    border-radius: 15px 15px 15px 15px;
    margin-top: 2px;
    background: #000000;
}

#backlight,
#battery,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#temperature {
    padding: 0 8px;
}

#backlight {
    color: #90b1b1;
}

#battery {
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#clock {
    color: #74929D;
}

#cpu {
    color: #2ecc71;
}

#memory {
    color: #9b59b6;
}

#network {
    color: #2980b9;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    color: #f1c40f;
}

#pulseaudio.muted {
    color: #90b1b1;
}

#temperature {
    color: #f0932b;
}

#temperature.critical {
    color: #eb4d4b;
}

