* {
    border: none;
    font-family: "JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif";
    font-size: 14px;
    min-height: 25px;
}

window#waybar {
    background: transparent;
    color: #eef0ed;
}

.modules-center {
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: #0e1420;
}

.modules-left {
  padding: 0 10px 0 5px;
  border-radius: 0px 15px 15px 0px;
  margin-top: 2px;
  background: #0E1420;
}

.modules-right {
  padding: 0 5px 0 5px;
  border-radius: 15px 15px 15px 15px;
  margin-top: 2px;
  background: #0E1420;
}

#backlight,
#battery,
#clock,
#cpu,
#memory,
#network,
#power-profiles-daemon,
#pulseaudio,
#temperature {
    padding: 0 8px;
}

#backlight {
    color: #eef0ed;
}

#battery {
    color: #ffeb8e;
}

#battery.charging, #battery.plugged {
    color: #6BA65C;
}

#battery.critical:not(.charging) {
    color: #e31508;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#clock {
    color: #eef0ed;
}

#cpu {
    color: #ddd4a2;
}

#memory {
    color: #dcc0ff;
}

#network {
    color: #8cd0d1;
}

#network.disconnected {
    color: #d3d6cf;
}

#power-profiles-daemon.performance {
    color: #e31508;
}

#power-profiles-daemon.balanced {
    color: #eaf4ab;
}

#power-profiles-daemon.power-saver {
    color: #accac0;
}

#pulseaudio {
    color: #748dbb;
}

#pulseaudio.muted {
    color: #d3d6cf;
}

#temperature {
    color: #ffb8c8;
}

#temperature.critical {
    color: #e31508;
}

